---
const positions = [
  { top: 8, left: 15 }, // upper left
  { top: 48, left: 65 }, // middle right
  { top: 75, left: 22 }, // lower left
  { top: 28, right: 10 }, // upper right
  { top: 15, left: 50 }, // upper center
  { top: 62, right: 18 }, // middle right-lower
  { top: 85, left: 58 }, // lower center
  { top: 22, left: 80 }, // upper far right
  { top: 52, left: 32 }, // middle center-left
  { top: 5, right: 28 }, // very top right
  { top: 38, left: 6 }, // middle left
  { top: 70, right: 6 }, // lower right
  { top: 10, left: 68 }, // upper center-right
  { top: 58, left: 48 }, // middle center
  { top: 90, left: 10 }, // very bottom left
  { top: 40, right: 38 }, // middle right
  { top: 18, left: 35 }, // upper center-left
  { top: 78, right: 45 }, // lower center-right
  { top: 32, left: 18 }, // middle left
  { top: 65, left: 78 }, // lower right
];
---

<div class="floating-logos-background" aria-hidden="true">
  <svg style="position: absolute; width: 0; height: 0;" aria-hidden="true">
    <defs>
      <symbol id="floating-logo-symbol" viewBox="0 0 375 374.999991">
        <path
          fill="#181d25"
          d="M 191.015625 120.347656 L 191.015625 174.625 C 183.761719 174.625 178.777344 175.980469 176.070312 178.6875 C 173.359375 181.398438 171.636719 186.746094 170.902344 194.738281 C 168.515625 221.28125 158.230469 240.015625 140.042969 250.941406 C 130.402344 256.636719 116.714844 259.484375 98.992188 259.484375 L 91.828125 259.484375 L 91.828125 204.933594 L 94.167969 204.933594 C 102.433594 204.933594 108.335938 203.210938 111.871094 199.765625 C 115.40625 196.320312 117.449219 190.285156 118.003906 181.648438 C 118.738281 167.597656 120.042969 157.726562 121.929688 152.03125 C 123.808594 146.339844 127.648438 140.691406 133.433594 135.085938 C 143.53125 125.261719 157.539062 120.347656 175.449219 120.347656 Z M 283.179688 117.039062 L 283.179688 172.144531 C 279.597656 170.125 276.335938 169.113281 273.398438 169.113281 C 264.03125 169.113281 259.347656 176.277344 259.347656 190.605469 L 259.347656 255.765625 L 207.824219 255.765625 L 207.824219 180.6875 C 207.824219 160.847656 213.242188 145.027344 224.082031 133.226562 C 234.914062 121.425781 249.378906 115.523438 267.472656 115.523438 C 271.515625 115.523438 276.75 116.03125 283.179688 117.039062 Z M 283.179688 117.039062"
        ></path>
      </symbol>
    </defs>
  </svg>

  {
    positions.map((_pos, index) => (
      <svg class={`floating-logo floating-logo-${index + 1}`}>
        <use href="#floating-logo-symbol" />
      </svg>
    ))
  }
</div>
